header{
    margin-bottom:100px;
}

body{
    background-color: black;
}

.container{
    font: red 16px;
}

#image-box{
    border: solid black 3px;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    widows: 30%;
}

#col-img{
    width:300px;
}